:root {
    --white-soft: #f8f8f8;
    --black-soft: #222222;
    --divider-light: rgba(60, 60, 60, 0.29);
    --divider-dark: rgba(84, 84, 84, 0.65);

    /* Geocam specific colors*/
    --black: #0D0A0B;
    --grey: #454955;
    --light-grey: #F3EFF5;
    --light-green: #72B01D;
    --green: #3F7D20;

    --section-gap: 160px;
}